<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hoge Dijk {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}"/>
  </head>

  <body class="main">
    
<div class="topnav" id="myTopnav">
  <a href="{{ url_for('home') }}" class="active">Home</a>
  <a href="{{ url_for('enquete') }}" class="active">Enquête</a>
 
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa-solid fa-bars fa-bounce"></i>
  </a>
</div>

<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
    x.className += " responsive";
  } else {
    x.className = "topnav";
  }
}

</script>
<script src="https://kit.fontawesome.com/ff53f42187.js" crossorigin="anonymous"></script>

    <header>
      {% block header %}{% endblock %}
    </header>
    <div>
      {% block content %}{% endblock %}
    </div>
    <footer id="footer">
    </footer>
  </body>
</html>
