{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
 
         
<body>
 <div class="content"> 
    <h1>Enquête schoolopdracht</h1>
    <p>Voor mijn schoolopdracht moet ik d.m.v. lean methodes processen analyseren </p>
    <p>Met u hulp kan ik een KANO analyse vaststellen</p>
    <div class="btn_box">
     <a href="{{ url_for('enquete') }}">
        <button id="enquete" type="button">Enquete</button>
     </a>
        <button type="button">Over</button>
    </div>
</div>
</body>

    
{% endblock %}


